/******CSS TAG SELECTORS******/

body { background-color:#AE7D9;}

hr{
  border-style: dotted none none;
  width: 5%;
  border-color: gray;
  border-width: 5px;
}

 h1
   {
     color:#522d5b;
     font-style: italic;
   }


 h3
   {
     color:#66BFBF;
   }





   /******CSS CLASS SELECTORS******/

   .profile_picture{
    border-style: dotted;
   }

   .contact_me {
     border-style: solid;
     border-radius:100%;

   }

   /******CSS ID SELECTORS******/

   #heading{

     color:#522d5b;
   }

   #contact{
     font-style: normal;
   }
